@import "../../app-styles-global/variables.scss";

.dataContainerComponent {
    position: relative;

    .contentWrapper {
        position: relative;

            @media #{$screen-md} {
                display: grid;
                grid-template-columns: repeat(4, 25%);
            }

            div {
                margin: 0 .5rem;
                text-align: center;

                @media #{$screen-md} {
                    display: inline-block;
                }
            }

            .productInfo {
                width: 100%;
                margin: 0 0 4rem 0;
                grid-row: 2/span 1;
                font-size: 1.2rem;
                overflow: hidden;

                @media #{$screen-md} {
                    margin: 1rem 0 0 0;
                    font-size: 1rem;
                }

                p {
                    text-align: center;

                    span {
                        font-family: 'Roboto-Medium', Helvetica, Arial, sans-serif;
                    }

                    .price {
                        color: $color-red;
                        font-family: 'Roboto-Medium', Helvetica, Arial, sans-serif;
                    }
                }
            }
    }
}
