@import "../../app-styles-global/variables.scss";

.sortButtonsComponent {
    position: relative;

    .contentWrapper {
        position: relative;
        margin-bottom: 1rem;

        @media #{$screen-sm} {
            margin-bottom: 5rem;
        }

        button {
            color: $color-white;
            background-color: $color-darkBlue;
            font-family: 'Roboto-Medium', Helvetica, Arial, sans-serif;
            font-size: .9rem;
            margin-bottom: .8rem;
            padding: 0.6rem 1rem;
            border: 1px solid $color-white;
            border-radius: 2rem;
            transition: color .3s ease-out,
                        background-color .3s ease-out,
                        border-color .3s ease-out;
            display: block;
            width: 100%;

            @media #{$screen-sm} {
                margin: 0 .7rem;
                font-size: 1.2rem;
                margin: 0 .7rem 1rem .7rem;
                display: inline-block;
                width: 16rem;
                padding: 0.7rem 1rem;
            }

            &:hover {
                cursor: pointer;
                border: 1px solid $color-darkBlue;
                background-color: $color-white;
                color: $color-darkBlue;
                transition: color .3s ease-out,
                            background-color .3s ease-out,
                            border-color .3s ease-out;
            }

            &:focus, input:focus{
                outline: none;
            }
            &:-moz-focus-inner {
              border: 0;
            }
        }
    }
}
