/************************************************************
*                                                           *
*            GLOBAL STYLE - FOR ALL COMPONENTS              *
*                                                           *
************************************************************/

@import "variables.scss";

//Fonts
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../assets/fonts/Google-Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../assets/fonts/Google-Roboto/Roboto-Light.ttf');
}

*,
*:before,
*:after {
    box-sizing: border-box;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html,
body,
#app{
    font-family: 'Roboto-Light', Helvetica, Arial, sans-serif;
    color: $color-black;
}

html,
body,{
    background: $color-white;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

html {
    font-size: 16px; //default for 1 rem
}

#unsupportedBrowser {
    background-color: $color-unsupportedBrowser; color: $color-black; padding: 1.3rem 4rem; margin: 0;
    text-align: center;

    h1 {
        padding: 0;
        margin: 0 0 0.3rem 0;
    }
}

.appWrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}

header,
main,
footer {
    grid-column: 2/span 22;
}
