/**********************************
*           Colors                *
**********************************/

$color-white: #fff;
$color-darkBlue: #3367d6;
$color-black: #25272b;
$color-red: #f44336;
$color-unsupportedBrowser: #FFF197;


/**********************************
*    Media Query Break Points     *
**********************************/

//Small devices - landscape phones, 590px (36.88rem) and up
$screen-sm: 'screen and (min-width: 36.88rem)';

//Medium devices - tablets, 768px (48rem) and up
$screen-md: 'screen and (min-width: 48rem)';

//Large devices - desktops, 992px (62rem) and up
$screen-lg: 'screen and (min-width: 62rem)';
