@import "../../app-styles-global/variables.scss";


header {
    .contentWrapper {
        text-align: center;

        .logoWrapper {
            display: inline-block;
            padding-top: 1rem;
            font-family: 'Roboto-Medium', Helvetica, Arial, sans-serif;
            font-size: 1.5rem;
            transform: scale(0.9);


            img:hover {
                transform: scale(1);
                cursor: auto;
            }
        }
        .authorIntro {
            font-family: 'Roboto-Medium', Helvetica, Arial, sans-serif;
            font-size: 1.5rem;
            margin: .5rem 0 2rem 0;

            @media #{$screen-md} {
                margin: 1rem 0 1rem 0;
            }
        }

        .techIntro {
            font-family: 'Roboto-Medium', Helvetica, Arial, sans-serif;
            font-size: 1.5rem;
            margin: .5rem 0 2rem 0;

            @media #{$screen-md} {
                margin: 1rem 0 4rem 0;
            }
        }

    }
}
