@import "../../app-styles-global/variables.scss";

footer {
    .contentWrapper {
        text-align: center;
        font-family: 'Roboto-Medium', Helvetica, Arial, sans-serif;
        font-size: 1.4rem;
        letter-spacing: 0.03em;
    }
}
