@import "../../app-styles-global/variables.scss";

img.responsiveImg {
    position: relative;
    max-width: 100%;
    height: auto;
    border: none;
    transition: transform 1s ease-out;
    transform: scale(1);

    @media #{$screen-sm} {
        transform: scale(0.8);
        transition: transform 1s ease-out;
    }

    @media #{$screen-md} {
        transform: scale(1);
        transition: transform .3s ease-in;

        &:hover {
            transform: scale(1.2);
            transition: transform .35s ease-out;
            cursor: pointer;
            z-index: 1;
        }
    }
}
